<ion-view view-title="Dashboard">
    <ion-content>
        <div class="bar bar-header bar-balanced">
            <h1 class="title">Otsimo</h1>
        </div>
        <div class="padding headerup">
            <ion-slide-box>
                <ion-slide>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                    <div class="dashgrid">
                        <img src="img/cover.jpg">
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>
