<ion-view view-title="Dashboard">
    <ion-content>
        <div class="bar bar-header bar-balanced">
            <h1 class="title"><img width="auto" height="50px" src="img/logo.png"></h1>
        </div>
        <div class="padding headerup">
            <ion-slide-box>
                <ion-slide ng-repeat="rows in chunkedData">
                    <div class="dashgrid" ng-repeat="game in rows">
                        <div ng-click="openGame(game)"><img src="{{ game.logo }}"></div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>
